body#error {
    .content {
        .container {
            max-width: 600px;
            h2 {
                margin-top: 1em;
            }
            p {
                margin-top: 1em;
            }
            a {
                color: $color__grey;
            }
        }
    }
}
