body#feed {
    .content {
        .container {
            max-width: 1200px;
            .content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: auto;
                min-height: 0;
            }
        }
    }
    h1 {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    .main-content {
        width: 70%;
        h4 { margin-bottom: 1em; }
        @media only screen and (max-width: $bp__laptop - 1) {
            width: 100%;
        }
    }

    .feedContainer,
    .alertContainer {
        display: block;
        width: 100%;
        .item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 1em;
            padding: .5em 1em;
            background-color: $color__white;
            box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
            img {
                margin-right: 5px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
            .placeholder {
                width: 24px;
                height: 24px;
                margin-right: 5px;
                box-shadow: none;
                i {
                    margin-left: 0;
                    font-size: 12px;
                }
            }
            p { width: 75%; }
            p,
            a {
                margin: 0;
                color: $color__grey;
                span { color: $color__darkGrey; }
                i { margin-right: 5px; }
            }
            i { color: $color__darkGrey; font-size: 14px; }
            .view {
                font-size: 21px;
                i { margin-left: 5px; }
            }
            .view,
            .remove {
                cursor: pointer;
            }
            .remove { width: 5%; text-align: right; }
        }
    }
    .alertContainer {
        border-bottom: 2px solid $color__darkGrey;
        .item {
            i.fa-bell { width: 5%; text-align: center; }
        }
    }
    .feedContainer {
        margin-top: 1em;
    }
    aside#sidebar {
        width: 25%;
        margin-left: 5%;
        @media only screen and (max-width: $bp__laptop - 1) {
            width: 100%;
            margin-top: 1.5em;
            margin-left: 0;
            h2 { font-size: 21px; }
        }
        h2 {
            display: block;
            padding-bottom: .5em;
            font-size: 24px;
            border-bottom: 2px solid $color__darkGrey;
            @media only screen and (max-width: $bp__laptop - 1) {
                font-size: 21px;
            }
        }
        #followList {
            display: block;
            width: 100%;
            margin-top: 1em;
            padding: .25em 0 .25em .5em;
            font-family: $font__heading;
            font-size: 18px;
            background-color: $color__white;
            border: 1px solid $color__grey;
        }
        .followList {
            margin-top: .5em;
            .item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: .5em;
                padding: .25em .5em;
                background-color: $color__white;
                box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
                .user {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    img {
                        margin-right: 5px;
                        width: 21px;
                        height: 21px;
                        border-radius: 50%;
                    }
                    .placeholder {
                        width: 21px;
                        height: 21px;
                        margin-right: 5px;
                        box-shadow: none;
                        i {
                            margin-left: 0;
                            font-size: 12px;
                        }
                    }
                }
                a { color: $color__darkGrey; }
                &.in {
                    display: flex;
                }
                &.out {
                    display: none;
                }
            }
        }
    }
    p.end {
        display: block;
        width: 100%;
        margin: 1em auto 0;
        text-align: center;
    }
}
