html {
    font-family: $font__main;
    font-size: 18px;
    line-height: 1.1;
    color: $color__black;
}

body {
    overflow-x: hidden;
    background-color: $color__lightGrey;
     * {
         box-sizing: border-box;
         &::selection {
             color: $color__white;
             background-color: $color__grey;
         }
      }
}

.row {
    display: block;
    width: 100%;
    height: auto;
    > .container {
        display: block;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @media only screen and (max-width: $bp__desktop - 1) {
            padding: 0 1em;
        }
        &.flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

.content {
    margin: 2em 0;
    p, ul {
        margin: 0 0 1em 0;
        font-size: 21px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font__heading;
}

h1 { font-size: 28px; }

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}
ol {
    display: block;
    margin: 0 0 1em 1em;
    list-style-type: lower-latin;
    list-style-position: inside;
    li {
        margin-bottom: .5em;
        font-size: 21px;
    }
}

.placeholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    background-color: $color__lightGrey;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
    i {
        font-size: 42px;
        color: $color__darkGrey;
    }
}

@media only screen and (min-width: $bp__laptop) {
    body.fullHeight {
        .content {
            min-height: calc(100vh - 64px - 59px - 4em);
        }
    }
}

.ad-container {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    text-align: center;
    .adsbygoogle {
        width: 100%;
        height: auto;
        background-color: $color__darkGrey;
    }
}
