body#home {
    .content {
        .container {
            max-width: 1000px;
        }
    }
    .home-content {
        text-align: center;
        h1 { margin-top: 3em; }
        form {
            margin: 3em 0;
        }
        p {
            font-family: $font__heading;
            font-size: 21px;
        }
        form.search {
            width: 100%;
            text-align: center;
            input[type='search'] {
                width: 50%;
                padding: .5em 0 .5em 1em;
                border: none;
                border-radius: 10px;
                background-color: $color__grey;
                color: $color__lightGrey;
                font-family: $font__heading;
                font-size: 21px;
                line-height: 1;
                &::placeholder {
                    color: $color__lightGrey;
                }
                @media only screen and (max-width: $bp__tablet - 1) {
                    width: 100%;
                }
                &:focus {
                    box-shadow: 0 1px 3px $color__darkGrey;
                }
            }
            button {
                position: relative;
                margin-left: -3em;
                background-color: transparent;
                border: none;
                cursor: pointer;
                i {
                    font-size: 18px;
                    color: $color__lightGrey;
                }
                @media only screen and (max-width: $bp__tablet - 1) {
                    position: absolute;
                    margin-top: -33px;
                    right: 2.5em;
                }
            }
        }
        .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 5em;
            .image {
                width: calc((100%/6) - .5em);
                height: auto;
                &:nth-child(odd) {
                    img {
                        border: 2px solid $color__green;
                    }
                }
                &:nth-child(even) {
                    img {
                        border: 2px solid $color__darkGrey;
                    }
                }
                @media only screen and (min-width: 0) and (max-width: 500px) {
                    width: calc(50% - .5em);
                }
                @media only screen and (min-width: 501px) and (max-width: $bp__tablet - 1) {
                    width: calc((100%/3) - .5em);
                }
            }
        }
    }
    @media only screen and (min-width: $bp__laptop) {
        &.fullHeight {
            .content {
                min-height: calc(100vh - 64px - 59px - 4em - 48px) !important;
            }
        }
    }
}
