body#login {
    .content {
        .container {
            max-width: 600px;
            h1 {
                display: block;
                margin-bottom: 1em;
            }
        }
    }
    .forgot {
        display: block;
        margin-top: 1em;
        color: $color__grey;
    }
}
