body#near,
body#search {
    .content {
        .container {
            max-width: 1000px;
        }
    }
    .results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-top: 1.5em;
        &.full {
            justify-content: space-between;
        }
        .result {
            width: calc((100%/4) - 25px);
            padding: 1em;
            margin-bottom: 25px;
            background-color: $color__white;
            box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
            text-align: center;
            transition: .25s box-shadow linear;
            &:hover {
                box-shadow: 0 3px 6px rgba(0,0,0,.125), 0 3px 6px rgba(0,0,0,.25);
            }
            @media only screen and (max-width: $bp__tablet - 1) {
                justify-content: space-around;
                width: calc((100% / 3) - 25px);
            }
            @media only screen and (max-width: 600px) {
                width: calc(50% - 15px);
                margin-bottom: 25px;
            }
            @media only screen and (max-width: 420px) {
                width: 100%;
            }
            img {
                display: block;
                width: 128px;
                height: 128px;
                margin: 0 auto;
                border-radius: 50%;
                box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
            }
            .placeholder {
                width: 128px;
                height: 128px;
                margin: 0 auto;
                //box-shadow: none;

            }
            h3 {
                margin-top: .5em;
                color: $color__darkGrey;
            }
            h4 {
                margin-top: .25em;
                color: $color__grey;
                font-size: .9em;
            }
            p {
                margin-top: .5em;
                margin-bottom: 0;
                font-family: $font__heading;
                font-size: .75em;
                color: $color__grey;
            }
        }
    }
    .more-results {
        display: block;
        width: 50%;
        margin: 3em auto 0;
        @media only screen and (max-width: $bp__mobile) {
            width: 100%;
        }
        span {
            display: block;
            width: 100%;
            padding: 1em 0;
            text-align: center;
            background-color: $color__grey;
            border: none;
            border-radius: 10px;
            font-family: $font__heading;
            font-size: 21px;
            color: $color__lightGrey;
            cursor: pointer;
            transition: .25s background-color linear;
            &:hover { background-color: $color__darkGrey; }
        }
    }
    p.end {
        display: block;
        width: 100%;
        margin: 3em auto 0;
        text-align: center;
    }
    .ad-container { margin-top: 1.5em; }
}
