body#policy {
    .content {
        .container {
            max-width: 1000px;
        }
    }
    h1 {
        display: block;
        margin-bottom: 1em;
    }
    h2 {
        display: block;
        margin-bottom: .5em;
        font-size: 24px;
    }
    h3 {
        display: block;
        margin-bottom: .25em;
        text-decoration: underline;
    }
    a {
        color: $color__darkGrey;
        transition: .25s color linear;
        &:hover {
            color: $color__black;
        }
    }
    p {
        strong { font-weight: bold; }
    }
}
