body#profile {
    .content {
        @media only screen and (min-width: $bp__laptop) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        margin: 0;
        .profile {
            width: 30%;
            min-height: calc(100vh - 63px - 59px);
            padding: 3em 0;
            background-color: $color__grey;
            @media only screen and (max-width: $bp__laptop - 1) {
                width: 100%;
                padding: 1.5em 0 0;
                min-height: 0;
            }
            @media only screen and (min-width: 1920px) {
                width: 35%;
            }
            .container {
                @media only screen and (min-width: $bp__laptop) {
                    position: fixed;
                }
                float: right;
                width: calc(100vw - 70vw);
                padding: 1em;
                text-align: center;
                .profileContent {
                    display: block;
                    float: right;
                    width: 100%;
                    max-width: 300px;
                }
                @media only screen and (max-width: $bp__laptop - 1) {
                    float: none;
                    width: 100%;
                    .profileContent {
                        float: none;
                        max-width: 400px;
                        margin: 0 auto;
                    }
                }
                @media only screen and (min-width: 1920px) {
                    width: calc(100vw - 68vw);
                }
            }
        }
        .answers {
            width: 70%;
            padding: 3em 0 0;
            @media only screen and (max-width: $bp__laptop - 1) {
                width: 100%;
                padding: 2em 0;
            }
            @media only screen and (min-width: 1920px) {
                width: 57.5%;
            }
            .container {
                width: calc(100% - 15vw);
                padding: 1em 0 1em 2.5em;
                @media only screen and (max-width: $bp__laptop - 1) {
                    width: 100%;
                    padding: 1em;
                }
                @media only screen and (min-width: $bp__laptop) and (max-width: $bp__desktop - 1) {
                    width: calc(100% -  3vw);
                }
                @media only screen and (min-width: $bp__desktop) and (max-width: $bp__large - 1) {
                    width: calc(100% - 4vw);
                }
                @media only screen and (min-width: $bp__large) and (max-width: 1600px) {
                    width: calc(100% - 10vw);
                }
                @media only screen and (min-width: 1920px) {
                    width: calc(100% - 12vw);
                }
            }
        }
    }
    .profile .profileContent {
        .icon {
            display: block;
            width: 128px;
            height: 128px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
            }
        }
        .placeholder {
            width: 128px;
            height: 128px;
        }
        .name,
        .username,
        .age,
        .location,
        .count,
        .followers {
            display: block;
            color: $color__green;
            font-family: $font__main;
            font-size: 21px;
        }
        .name { margin-top: .75em; }
        .age { margin-top: .5em; }
        .location { margin-top: .25em; }
        .count { margin-top: .5em; }
    }
    .profile .profileActions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2em;
        .action {
            display: block;
            margin: 0 .5em 1em .5em;
            opacity: .75;
            transition: .25s opacity linear;
            span {
                color: $color__lightGrey;
                cursor: pointer;
            }
            &:hover { opacity: 1; }
        }
        .social {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin: 0 0 1em;
            h4 {
                display: block;
                width: 100%;
                margin-bottom: .5em;
                font-size: 1.1em;
                color: $color__white;
            }
            a,span {
                display: block;
                width: 100%;
                margin-bottom: .25em;
                font-size: 1.1em;
                color: $color__green;
                cursor: pointer;
            }
        }
    }
    .answers {
        .questionsContainer {
            display: block;
            width: 100%;
            margin-bottom: 1.5em;
            form {
                box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
                span.label {
                    display: block;
                    width: 100%;
                    padding: .5em;
                    margin-bottom: 0;
                    font-family: $font__heading;
                    font-size: 21px;
                    line-height: 24px;
                    background-color: $color__white;
                    border: 2px solid $color__darkGrey;
                    border-bottom: none;
                }
                textarea {
                    display: block;
                    width: 100%;
                    padding: .5em;
                    border: 2px dashed $color__darkGrey;
                    background-color: $color__white;
                    resize: none;
                    font-family: $font__main;
                    font-size: 21px;
                    line-height: 1.1;
                    transition: .25s box-shadow linear;
                    &:focus {
                        outline: none;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
                    }
                }
            }
            .actions {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
                width: 100%;
                margin-top: -.75em;
                span {
                    font-family: $font__heading;
                }
                > div {
                    padding: .5em .5em .25em;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
                }
                .charCount {
                    width: 25%;
                    background-color: $color__white;
                }
                .submit {
                    width: 35%;
                    text-align: center;
                    background-color: $color__green;
                    cursor: pointer;
                    transition: .25s box-shadow linear;
                    &:hover {
                        box-shadow: 0 3px 6px rgba(0,0,0,.125), 0 3px 6px rgba(0,0,0,.25);
                    }
                }
                .skip {
                    width: 35%;
                    text-align: center;
                    color: $color__white;
                    background-color: $color__grey;
                    cursor: pointer;
                    transition: .25s box-shadow linear;
                    &:hover {
                        box-shadow: 0 3px 6px rgba(0,0,0,.125), 0 3px 6px rgba(0,0,0,.25);
                    }
                }
                @media only screen and (max-width: 668px) {
                    .charCount {
                        width: 100%;
                        margin-bottom: .5em;
                    }
                    .submit { width: 47.5%; }
                    .skip { width: 47.5%; }
                }
            }
        }
        .answersContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            width: 100%;
            .answer {
                display: block;
                width: 100%;
                margin-bottom: 1.5em;
                padding: 1em 1em 0;
                background-color: $color__white;
                box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
                h3 {
                    font-size: 28px;
                    @media only screen and (max-width: $bp__tablet - 1) {
                        font-size: 24px;
                    }
                }
                p {
                    display: block;
                    padding: .5em 0 .5em 1em;
                    margin-bottom: .5em;
                    font-size: 24px;
                    color: $color__grey;
                    border-left: 2px solid $color__green;
                    @media only screen and (max-width: $bp__tablet - 1) {
                        font-size: 21px;
                    }
                }
                .divider {
                    display: block;
                    width: 100%;
                    height: 2px;
                    margin: .5em 0;
                    background-color: $color__darkGrey;
                }
                .delete {
                    position: relative;
                    float: right;
                    top: .5em;
                    font-size: 16px;
                    color: $color__grey;
                    cursor: pointer;
                    transition: .25s color linear;
                    &:hover {
                        color: $color__darkGrey;
                    }
                }
                form {
                    position: relative;
                    float: right;
                    background-color: transparent;
                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 16px;
                        color: $color__grey;
                        transition: .25s color linear;
                        cursor: pointer;
                        &:hover {
                            color: $color__darkGrey;
                        }
                    }
                }
                .tools {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: .5em 0;
                    border-top: 2px solid $color__darkGrey;
                    a {
                        font-size: 21px;
                        color: $color__grey;
                        i {
                            margin-right: 5px;
                            font-size: 14px;
                        }
                    }
                    .answer-tools {
                        a {
                            margin-right: 15px;
                            &:last-child { margin-right: 0; }
                        }
                    }
                }
            }
            .more-answers,
            .more-answers-category {
                display: block;
                width: 50%;
                margin: 0 auto;
                @media only screen and (max-width: $bp__mobile) {
                    width: 100%;
                }
                span {
                    display: block;
                    width: 100%;
                    padding: .5em 0;
                    text-align: center;
                    background-color: $color__grey;
                    border: none;
                    border-radius: 10px;
                    font-family: $font__heading;
                    font-size: 21px;
                    color: $color__lightGrey;
                    cursor: pointer;
                    transition: .25s background-color linear;
                    &:hover { background-color: $color__darkGrey; }
                }
            }
        }
        .categoriesContainer {
            display: block;
            width: 100%;
            form {
                .category-block {
                    display: block;
                    width: 100%;
                    text-align: right;
                    &:after {
                        position: relative;
                        right: 15px;
                        top: -20px;
                        content: '﹀';
                        color: $color__darkGrey;
                        font-weight: bold;
                        font-size: 21px;
                    }
                    select {
                        width: 100%;
                        padding: .25em .5em .25em .5em;
                        background: $color__white;
                        background-size: 0;
                        border: none;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
                        font-family: $font__main;
                        font-size: 24px;
                        color: $color__darkGrey;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        text-indent: 1px;
                        text-overflow: '';
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    .answers.actionsContainer {
        h1 {
            display: block;
            margin-bottom: 1em;
        }
        form {
            @media only screen and (min-width: $bp__laptop) {
                width: 50%;
            }
        }
    }
    #toTop {
        display: none;
        position: fixed;
        bottom: 10%;
        margin-left: -59px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: $color__lightGrey;
        box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
        color: $color__darkGrey;
        cursor: pointer;
        padding: .5em 1em .25em;
        border-radius: 10px;
        font-size: 18px;
        transition: .25s background-color, .25s color linear;
        &:hover {
            background-color: $color__darkGrey;
            color: $color__lightGrey;
        }
        &.active {
            display: inline-block;
            animation: .5s show forwards;
        }
        &.hide {
            display: inline-block;
            animation: .5s hide forwards;
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
