body#register {
    .content {
        .container {
            max-width: 600px;
            h1 {
                display: block;
                margin-bottom: 1em;
            }
        }
    }
    .cities { display: none; }
}
