body#similar {
    .content {
        .container {
            max-width: 1000px;
        }
    }
    .answer {
        display: table;
        width: 100%;
        margin-top: 2em;
        padding: 1em 1em 0;
        background-color: $color__white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.125), 0 1px 2px rgba(0,0,0,0.25);
        h2 {
            font-size: 28px;
            @media only screen and (max-width: $bp__tablet - 1) {
                font-size: 24px;
            }
        }
        p {
            display: block;
            padding: .5em 0 .5em 1em;
            margin-bottom: .5em;
            font-size: 24px;
            color: $color__grey;
            border-left: 2px solid $color__green;
            @media only screen and (max-width: $bp__tablet - 1) {
                font-size: 21px;
            }
        }
        .divider {
            display: block;
            width: 100%;
            height: 2px;
            margin: .5em 0;
            background-color: $color__darkGrey;
        }
        .info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .5em;
            a {
                font-size: 21px;
                color: $color__grey;
                i {
                    margin-left: 5px;
                    font-size: 14px;
                }
            }
            .poster {
                a {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    font-size: 21px;
                    color: $color__grey;
                }
                img {
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
                .placeholder {
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    box-shadow: none;
                    i {
                        margin-left: 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .similar-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .similar {
            width: calc(50% - 1em);
            @media only screen and (max-width: $bp__tablet - 1) {
                width: 100%;
            }
            p:first-child {
                padding: .25em 0 .25em 1em;
            }
        }
    }
    .ad-container { margin-top: 1.5em; }
    p.end {
        display: block;
        width: 100%;
        margin: 3em auto 0;
        text-align: center;
    }
    .more-results {
        display: block;
        width: 50%;
        margin: 3em auto 0;
        @media only screen and (max-width: $bp__mobile) {
            width: 100%;
        }
        span {
            display: block;
            width: 100%;
            padding: 1em 0;
            text-align: center;
            background-color: $color__grey;
            border: none;
            border-radius: 10px;
            font-family: $font__heading;
            font-size: 21px;
            color: $color__lightGrey;
            cursor: pointer;
            transition: .25s background-color linear;
            &:hover { background-color: $color__darkGrey; }
        }
    }
}
