.alert {
    position: absolute;
    background-color: $color__green;
    box-shadow: 1px 1px 5px $color__darkGrey;
    text-align: center;
    animation: 10s alert forwards;
    p {
        display: block;
        padding: .5em 0;
        font-size: 21px;
    }
}

@keyframes alert {
    0% {
        opacity: .9;
    }
    50% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}
