footer#footer {
    padding: 1em 0;
    background-color: $color__darkGrey;
    .flex-container {
        justify-content: space-between;
        align-items: center;
    }
    nav#social {
        width: calc(100%/3);
        text-align: left;
        a i { font-size: 21px; }
    }
    .copyright {
        width: calc(100%/3);
        text-align: center;
    }
    nav#links {
        width: calc(100%/3);
        text-align: right;
    }
    color: $color__white;
    sup {
        font-size: 14px;
        vertical-align: top;
    }
    a {
        margin: 0 .25em;
        color: $color__green;
        &:hover {
            text-decoration: underline;
        }
        span {
            color: $color__white;
        }
    }
    @media only screen and (min-width: $bp__mobile + 1) and (max-width: $bp__tablet - 1) {
        nav#social {
            order: 2;
            width: 25%;
        }
        .copyright {
            order: 1;
            width: 100%;
            margin-bottom: .5em;
        }
        nav#links {
            order: 3;
            width: 75%;
        }
    }
    @media only screen and (max-width: $bp__mobile) {
        nav#social {
            order: 2;
            width: 100%;
            margin-bottom: .5em;
            text-align: center;
        }
        .copyright {
            order: 1;
            width: 100%;
            margin-bottom: .5em;
        }
        nav#links {
            order: 3;
            width: 100%;
            text-align: center;
        }
    }
}
