form {
    .form-group {
        &:not(last-child) {
            margin-bottom: 1.5em;
        }
        label { display: none; }
        span.label {
            display: block;
            margin-bottom: .25em;
            font-family: $font__heading;
            font-size: 21px;
            small {
                font-size: 16px;
            }
        }
        input {
            width: 100%;
            padding: .4em 0 .2em .75em;
            border: 1px solid $color__grey;
            border-radius: 10px;
            font-family: $font__main;
            font-size: 21px;
            line-height: 1;
            color: $color__darkGrey;
        }
        .pictureLabel {
            display: block;
            overflow: hidden;
            position: relative;
            input[type='file'] {
                cursor: inherit;
                display: block;
                font-size: 999px;
                filter: alpha(opacity=0);
                min-height: 100%;
                min-width: 100%;
                opacity: 0;
                position: absolute;
                right: 0;
                text-align: right;
                top: 0;
            }
            span {
                display: block;
                padding: .5em 0 .5em 1em;
                font-size: 24px;
                color: $color__darkGrey;
                border: 1px solid $color__darkGrey;
                background-color: $color__white;
                border-radius: 10px;
                cursor: pointer;
                i {
                    display: inline-block;
                    margin-right: .5em;
                    font-size: 21px;
                }
            }
        }
        button {
            display: block;
            padding: 1em 0;
            width: 100%;
            background-color: $color__grey;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: .25s background-color linear;
            span {
                font-family: $font__heading;
                font-size: 21px;
                color: $color__lightGrey;
            }
            &:hover { background-color: $color__darkGrey; }
        }
        .invalid-feedback {
            display: block;
            margin-top: .25em;
        }
    }
}
