header#header {
    background-color: $color__darkGrey;
    .flex-container {
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 25%;
        span {
            font-family: $font__heading;
            font-weight: bold;
            font-size: 32px;
            line-height: 1;
            color: $color__green;
        }
    }
    .search {
        form {
            input[type='search'] {
                padding: .4em 0 .2em 1em;
                border: none;
                border-radius: 10px;
                background-color: $color__grey;
                color: $color__lightGrey;
                font-family: $font__heading;
                font-size: 16px;
                line-height: 1;
                &::placeholder {
                    color: $color__lightGrey;
                }
            }
            button {
                position: relative;
                margin-left: -2.5em;
                background-color: transparent;
                border: none;
                cursor: pointer;
                i {
                    color: $color__lightGrey;
                }
            }
        }
    }
    nav#nav {
        a {
            display: inline-block;
            padding: 1.5em 1em;
            font-family: $font__heading;
            font-size: 16px;
            color: $color__white;
            transition: .25s background-color linear, .25s color linear;
            &:nth-child(even) {
                background-color: $color__grey;
            }
            &:hover {
                color: $color__black;
                background-color: $color__lightGrey;
            }
        }
    }
    @media only screen and (max-width: $bp__laptop - 1) {
        .logo {
            padding-top: 1em;
            width: 50%;
        }
        .search {
            padding-top: .5em;
            width: 50%;
            form {
                width: 100%;
                text-align: right;
            }
        }
        nav#nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 1em;
            text-align: center;
            a {
                width: calc(100% / 4);
                padding: 1.25em 0;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .logo {
            width: 100%;
            text-align: center;
        }
        .search {
            width: 100%;
            form {
                width: 100%;
                text-align: center;
                input[type='search'] {
                    width: 60%;
                    min-width: 280px;
                }
             }
        }
        nav#nav {
            a {
                padding: 1em 0;
            }
        }
    }
}
