$color__darkGrey: #28353d;
$color__grey: #3b484f;
$color__lightGrey: #e9e9e9;
$color__white: #f1f1f1;
$color__black: #0c0c0c;
$color__green: #00f295;

@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Varela+Round');

$font__main: 'Markazi Text', serif;
$font__heading: 'Varela Round', sans-serif;

$bp__mobile: 468px;
$bp__tablet: 768px;
$bp__laptop: 992px;
$bp__desktop: 1200px;
$bp__large: 1400px;
